BINANCE_API_KEY=aRUWL9NL5bnMHYPlrit1F5tYKv2c0i3VjIRJ0tlpqn6h0X5daTPFpHalYnFuiTsQ
BINANCE_API_SECRET=mkYGXo8HHKi1UmHl5mj6BuYYNsGDsPcWXtuCAK8F7FRqVjQMydtb6Eb0ktyPAufL


# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
TOPIC_NAME=binance_public_trades

# Binance
BINANCE_WS_URL=wss://fstream.binance.com/ws/
BINANCE_API_BASE=https://fapi.binance.com

# NATS
NATS_URL=nats://nats:4222
NATS_SUBJECT_PREFIX=binance

# Configuración de la aplicación
AGGREGATION_INTERVAL=5
BATCH_SIZE=10
BATCH_DELAY=1
MAX_TRADING_PAIRS=50
KLINES_INTERVAL=1h
KLINES_LIMIT=1000

# Logging
LOG_LEVEL=INFO